# API
fastapi
uvicorn[standard]
python-dotenv
pydantic

# DB
sqlalchemy
psycopg2-binary

# ML
mlflow
prefect

# Data & Utils
pandas
numpy==1.24.4
joblib
tqdm
lxml
yfinance
pandas_ta

# Modeling
scikit-learn
shap
boruta

# Transformers stack
transformers
tokenizers

# LightGBM
lightgbm

torch
torch_geometric

xgboost
